 <!-- #banner start -->
      <section id="banner-top" 
               class=""
               style="background-image: url('{{content.field_image.0}}');">
               <div class="container ">
                  <div class="row">
                     <!-- #banner-text start -->            
                     <div id="banner-text" class="col-md-12 text-c  ">
                        <div class="left-borders">
                           <p  class="banner-text wow fadeInUp main-h3" data-wow-delay="0.8s"> {{content.field_sub_title.0}}</p>
                           <h5 class="wow fadeInUp main-h" data-wow-delay="0.2s" >{{content.field_title.0}}</h5>
                        </div>
                     </div>
                     <!-- /#banner-text End -->
                  </div>
               </div>
      </section>
      <!-- /#banner end -->