<section id="Contacts" class="latest_blog_area what_we_area">
         <div class="container">
            <div id="contact" class="title wow fadeInUp">
               <h2>{{content.field_title.0}}</h2>
            </div>
            <!--#form Area start-->
            <div class="row latest_contact">
               <div class="col-md-6" style="background: #fff; padding: 60px;">
                  <h2 class="contact" >
                     {{content.field_sub_title.0}}
                  </h2>
                  {{content.field_contact_form.0}}
               </div>
               <!--#End form Area -->
               <!--#map  Area start -->
               <div class="col-md-6 py-100">
                  <div class="google-maps">
                     <iframe src="{{content.field_link.0['#url']}}"
                             width="600" 
                             height="450" 
                             frameborder="0" 
                             style="border:0" 
                             allowfullscreen></iframe>
                  </div>
                  <h4 class="location"> 
                     {{content.field_contact_address.0}}
                  </h4>
               </div>
               <!--#End map  Area-->
            </div>
         </div>
      </section>