<!-- #banner start -->
<section id="banner-top" 
         class=""
         style="background-image: url('{{content.field_background_image.0}}');">
         <div class="container ">
            <div class="row">
               <!-- #banner-text start -->            
               <div id="banner-text" class="col-md-12 text-c  ">
                  <div class="left-borders">
                     <p  class="banner-text wow fadeInUp main-h3" data-wow-delay="0.8s"> 
                        {{content.field_sub_title.0}}
                     </p>
                     <h5 class="wow fadeInUp main-h" data-wow-delay="0.2s" >
                        {{content.field_title.0}}
                     </h5>
                  </div>
                  <p class="banner-text wow fadeInUp main-h3" data-wow-delay="0.8s">
                     {{content.field_content.0}} 
                  </p>
               </div>
               <!-- /#banner-text End -->
            </div>
            <div style="visibility: visible; animation-name: fadeInRight;">
               <a type="submit" href="{{content.field_link.0['#url']}}" class="button-n wow fadeInUp  js-scroll-trigger button_about_shadow" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInUp;">
                  {{content.field_link.0['#title']}}
               </a>
            </div>
         </div>
</section>