<div class="col-md-4 col-sm-6 builder">
  <div class="radius">
     <img src="{{content.field_image.0}}" alt="{{content.field_image.0.alt}}" class="services-images">
  </div>
  <h4>{{content.field_sub_title.0}}</h4>
  <p>{{ content.field_content.0}}</p>
</div>