 <div class="our_partners_area pt-90">
         <div class="container">
            <div class="title wow fadeInUp">
               <h2>{{content.field_title.0}}</h2>
            </div>
            <!--#Our Partners images start -->
            <div class="partners">
               {{content.field_partner}}
            </div>
            <!--#End Our Partners images -->
         </div>
      </div>