<!-- #About Us Area start -->
<div id="about" 
   class=" back-right-text">
<div class="overlay-all">
   <div class="container">
      <div class="row about_row">
         <!--#about-text start --> 
         <div class="who_we_area col-md-5 col-sm-6">
            <div class="subtitle wow fadeInUp">
               <h2 > {{content.field_title.0}} </h2>
            </div>
            <p class="mt-50">
               {{content.field_content.0}}
            </p>
         </div>
         <!--#End about-text  --> 
         <div class="col-md-7 col-sm-6 about_client">
            <img src="{{content.field_background_image.0}}" alt="solutions">
         </div>
      </div>
   </div>
</div>
</div>
<!-- End About Us Area -->
