<!--#Our Features Area start-->
<div  class="our_feature_area back-right-text">
   <div class="overlay">
      <div class="container">
         <div class="feature_row row">
            <div class="col-md-6 col-sm-6 feature_content">
               <div class="subtitle wow fadeInUp">
                  <h2> {{ content.field_title.0 }} </h2>
               </div>
               {{content.field_feature}}
            </div>
            <div class="col-md-6 col-sm-6 about_client">
               <img src="{{content.field_background_image.0}}" alt="why choose us">
            </div>
         </div>
      </div>
   </div>
</div>
<!--#End Our Features Area -->