<section id="banner" class="">
   <div class="container ">
      <div class="row">
         <!-- #banner-text start -->            
         <div id="banner-text" class="col-md-5 ">
            <h5 class="wow fadeInUp main-h" data-wow-delay="0.2s" >
               {{content.field_title.0}}
            </h5>
            <h3 class="wow fadeInUp main-h2" data-wow-delay="0.5s" >
               {{content.field_sub_title.0}}
            </h3>
            <p class="wow fadeInUp main-h3" data-wow-delay="0.8s">
               {{content.field_content.0}}
            </p>
            <div class="top-banner wow fadeInRight">
               <a id="services.html"  href="{{content.field_link.0['#url']}}" class="button-n wow fadeInUp  js-scroll-trigger" data-wow-delay="1s" href="#">
                  {{content.field_link.0['#title']}}
               </a>
            </div>
         </div>
         <!-- /#banner-text End -->
         <!-- Banner image -->
         <div class="col-md-7 tr">
            <img src="{{content.field_image.0}}" alt="Banner Image" class="box-s">
         </div>
         <!-- Banner image -->
      </div>
   </div>
</section>