<section id="testimonials" class="testimonial_area row">
   <div class="container">
      <div class="title wow fadeInUp">
         <h2>{{content.field_title.0}}</h2>
      </div>
      {{content.field_testimonials}}
  </div>
</section>
