<div class="media">
   <div class="media-left">
      {{content.field_icon.0}}
   </div>
   <div class="media-body">
      <h4 class="c-f">
         {{content.field_sub_title.0}}
      </h4>
      <p class="c-f pt_20">
         {{content.field_content.0}} 
      </p>
   </div>
</div>