<!--What we offer Area start-->
<section id="solutions" class="what_we_area row">
   <div class="container">
      <div class="title wow fadeInUp">
         <h2>{{content.field_title.0}}</h2>
      </div>
      <div class="row construction_iner">
         {{content.field_offer}}
      </div>
   </div>
</section>
<!-- End What ew offer Area -->