<!--#Our Team Area  start-->
      <section id="team" class="our_team_area">
         <div class="container">
            <div class="title wow fadeInUp">
               <h2>{{ content.field_title.0 }}</h2>
            </div>
            <div class="row team_row">
               {{ content.field_team_member}}               
            </div>
         </div>
      </section>
      <!--#End Our Team Area -->