<div class="col-md-4 col-sm-6 construction">
   <div class="cns-img">
       <img src="{{content.field_image.0}}" alt="">
   </div>
   <div class="cns-content">
      {{content.field_offer_icon.0}}
      <h4 class="c-b pt_20"> {{content.field_sub_title.0}}</h4>
      <p  class="pt_20">
         {{content.field_content.0}}
      </p>
      <div class="top-banner wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
         <a id="#contact" 
            href="{{content.field_link.0['#url']}}" 
            class="button-n wow fadeInUp c-f  js-scroll-trigger" 
            data-wow-delay="1s" 
            style="visibility: visible; animation-delay: 1s; 
                  animation-name: fadeInUp;">
            {{content.field_link.0['#title']}}
         </a>
      </div>
   </div>
</div>