<div class="col-md-3 col-sm-6 wow fadeInUp">
   <div class="team_membar">
      {{content.field_member_image.0}}
      <div class="team_content">
         <ul>
            <li>
               <a href="{{content.field_member_facebook.0['#url']}}">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
               </a>
            </li>
            <li>
               <a href="{{content.field_member_twitter.0['#url']}}">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
               </a>
            </li>
            <li>
               <a href="{{content.field_member_linkedin.0['#url']}}">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
               </a>
            </li>
         </ul>
         <h5 class="name">
            {{content.field_member_name.0}}
         </h5>
         <h6>{{content.field_member_designation.0}}</h6>
      </div>
   </div>
</div>