<div class="col-md-3 col-sm-4 col-xs-12 gallery_iner p0">
   <img src="{{fields.field_work_image.content}}" alt="">
   <div class="gallery_hover">
      <h4>{{fields.title.content}}</h4>
      <a href="#" data-toggle="modal" data-target="#{{fields.nid.content}}">View project</a>
   </div>
</div>

<!--#line modal start -->
<div class="modal fade" id="{{fields.nid.content}}" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
 <div class="modal-dialog">
    <div class="modal-content">
       <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <h3 class="modal-title" id="lineModalLabel">{{fields.title.content}}</h3>
       </div>
       <div class="modal-body">
          <!-- content goes here -->
          <div class="row">
             <div class="col-md-12">
                {{fields.body.content}}
             </div>
          </div>
       </div>
    </div>
 </div>
</div>
<!--#End line modal-->