<div class="item">
   <div class="media">
      <div class="media-left">
         <img class="media-object" src="{{fields.field_member_image.content}}" alt="">
      </div>
      <div class="media-body">
         <h4 class="media-heading">{{fields.title.content}}</h4>
         <h6> {{fields.field_designation.content}}</h6>
      </div>
   </div>
   <p>
      <i class="fa fa-quote-right" aria-hidden="true"></i>
         {{fields.body.content|striptags}}
      <i class="fa fa-quote-left" aria-hidden="true"></i>
   </p>
</div>