 <!--#Our Latest Blog Area start -->
<section id="blog-page" class="latest_blog_area">
    <div class="container">
      <div class="title wow fadeInUp">
         <h2>{{view.getTitle()}}</h2>
      </div>
      <div class="row latest_blog">
         {% for row in rows %}
            {{ row.content }}
         {% endfor %}
      </div>
   </div>
</section>
