<section id="gallery-page"  class="our_services_area">
  <div class="container">
      <div class="title wow fadeInUp">
        <h2>{{view.getTitle()}}</h2>
      </div>
      <div class="portfolio_inner_area">
         <div class="portfolio_filter">
            {{ render_block('views_block__gallery_tags_block_1') }} 
         </div>
         <div class="portfolio_item">
            <div class="grid-sizer"></div>
            {% for row in rows %}
               {{ row.content }}
            {% endfor %}
         </div>
      </div>
   </div>
</section>
