{% set galleries = fields.field_gallery.content|split(',') %}
{% set galleries = galleries|merge({'b': 'single_facilities col-lg-4 col-sm-6 col-xs-12 p0'}) %}
<div {{ attributes.addClass(galleries) }}>
 	<div class="single_facilities_inner">
    	<img src="{{fields.field_work_image.content}}" alt="">
 	</div>
</div>