<!--#Our Featured Works Area start-->
 <section  id="works"  class="featured_works row" data-stellar-background-ratio="0.3">
    <div class="title wow fadeInUp">
        <h2>{{view.getTitle()}}</h2>
    </div>
    <div class="featured_gallery">
		{% for row in rows %}
	      {{ row.content }}
	    {% endfor %}
	</div>
</section>
        
        