<div class="col-md-4 col-sm-6 blog_content">
  <img src="{{fields.field_blog_image.content}}" alt="">
  <a href="{{fields.view_node.content}}" class="blog_heading">
  	{{fields.title.content}}
  </a>
  <h4><small>by  </small>
  	{{fields.uid.content}}
  	<span>/</span><small>ON </small>{{fields.created.content}}</h4>
  <p>{{fields.body.content}}... <a href="{{fields.view_node.content}}" class="c-b  font_14_roboto">Read More</a></p>
</div>