{#
/**
* @file
* Default theme implementation to display a menu.
*
* Available variables:
* - menu_name: The machine name of the menu.
* - items: A nested list of menu items. Each menu item contains:
*   - attributes: HTML attributes for the menu item.
*   - below: The menu item child items.
*   - title: The menu link title.
*   - url: The menu link url, instance of \Drupal\Core\Url
*   - localized_options: Menu link localized options.
*   - is_expanded: TRUE if the link has visible children within the current
*     menu tree.
*   - is_collapsed: TRUE if the link has children within the current menu tree
*     that are not currently visible.
*   - in_active_trail: TRUE if the link is in the active trail.
*
* @ingroup templates
*/
#}
{% import _self as menus %}

{#
 We call a macro which calls itself to render the full tree.
 @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}
{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    <div class="collapse navbar-collapse" id="min_navbar">
      <ul class="nav navbar-nav navbar-right">
        {% for item in items %}
          <li>
            <a class="dropdown-toggle js-scroll-trigger" href="{{item.url}}">
              {{ item.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endmacro %}
