/*----------------------------------------------------

1. General Style

1. Buttons
2. Headings
3. Subtitle
4. Prefix Styles
5. Top header
6. professional_builder
7. what_we_area
8. our_feature_area
9. our_services_area
10. our_services_tow
11. our_team_area
12. our_achievments_area
13. testimonial_area
14. our_partners_area
15. latest_blog_area
16. footer_area
17. Modal_area
18. footer social icons
19. Edit-css
- Media Queries-start
20. Responsive
21.min-width: 768px
22.max-width: 991px
23.max-width: 768px
24.max-width: 499px
25.max-width: 360px
26.max-width: 320px
- Media QueriesEnd-



----------------------------------------------------*/
/*--------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,700|Roboto:300,300i,400,400i,500,500i,700,700i");
/*Color Variables*/
::selection {
    background-color:#00539f;
    color: #FFF
}
img{
  object-fit: cover !important;
}


/*----------------------------------
   1. Buttons
------------------------------------*/

/* Button */
.button_all {
  font: 700 18px/59px "Roboto", sans-serif !important;
  width: 180px;
  text-align: center;
  background: #f6b60b;
  display: block;
  border: 0;
  color: #222222;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  padding: 0;
}
.button_all:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #222222;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  right: 0;
  transform: scaleY(0);
  transform-origin: 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.button_all:hover, .button_all:focus {
  color: #fff !important;
}
.button_all:hover:before, .button_all:focus:before {
  transform: scaleY(1);
  color: #fff !important;
  border-radius: 10px;
}
svg{
    enable-background: new 0 0 612 612;
    height: 25px;
    width: 51px;
    position: relative;
    top: 8px;
    fill: #fff;
}
.float_r{
  float:right!important;
}

/*----------------------------------
   2. Headings
------------------------------------*/

/* Section Title*/
.title {
  text-align: center;
  text-transform: uppercase;
}
.title h2 {
  font: 400 24px "Oswald", sans-serif;
  color: #222222;
  padding-top: 90px;
  position: relative;
}

.title h4 {
  font: 400 14px "Roboto", sans-serif;
  color: #555555;
  padding-top: 55px;
}

p {
    font: 400 14px/26px Roboto,sans-serif;
    color: #555;
    margin: 10px 0px; 
}
 
.justify_text{
      text-align: justify;
}

/*----------------------------------
   3.Subtitle
------------------------------------*/
/* Subtitle */
.subtitle h2 {
  font: 700 36px "Roboto", sans-serif;
  color: #222222;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 20px;
}
.subtitle h2:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 80px;
  background: #222222;
  left: 0;
  bottom: -22px;
}
.subtitle h5 {
  font: 400 14px "Roboto", sans-serif;
  color: #555555;
  padding-top: 22px;
}



/*----------------------------------
   4.Prefix Styles
------------------------------------*/
/*Prefix Styles*/
.m0 {
  margin: 0;
}

.p0 {
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  /*Section Fix*/
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  margin: 0;
}
body p {
  font-family: "Roboto", sans-serif;
  line-height: 26px;
  color: #555555;
  margin: 0;
}
body section.row, body header.row, body footer.row {
  margin: 0;
}

/*Ancore*/
a, .btn, button {
  outline: none;
  transition: all 300ms linear 0s;
}
a:before, a:after, .btn:before, .btn:after, button:before, button:after {
  transition: all 300ms linear 0s;
}
a:focus, a:hover, .btn:focus, .btn:hover, button:focus, button:hover {
  outline: none;
  text-decoration: none;
  transition: all 300ms linear 0s;
}

h4 {
    font: 700 18px Roboto,sans-serif;
    color: #222;
    padding-bottom: 20px;
     padding-top: 25px;
   text-transform: uppercase;
}
.pt_20{
padding-top: 20px;
}
.font_14{
  font: 400 14px "Oswald", sans-serif !important;
}
.font_14_roboto{
    font: 400 14px Roboto,sans-serif !important;
    text-transform: capitalize !important;
  }
.font_18{
    font: 400 italic 18px/26px Roboto,sans-serif;
    }
    .color_slider{
          color: #00539f !important;
    }

.top_menu-logo .top_Contact .float_r{
  float:right !important;
}

/*--------------------------------------------------*/

/*----------------------------------
   5.Top header
------------------------------------*/

/* End Top header-2 */
/* Header Aera */
.header_aera {
  background: #fff;
  border-radius: 0;
  border: 0;
  margin: 0;
  width: 100%;
  z-index: 500;
  top: 0;
  box-shadow: 0px 0px 20px 0px rgba(21, 47, 95, 0.2);
}
.user-logged-in .header_aera.affix{
  top:80px !important;
}
.user-logged-in .header_aera.affix .navbar-collapse .navbar-nav.navbar-right li a{
    font: 700 14px "Roboto", sans-serif;
    padding: 20px 20px 20px 0px;
}
.user-logged-in .header_aera.affix .navbar-header .navbar-brand {
    padding-top: 20px !important;
}
.header_aera .navbar-header .navbar-brand {
  padding-top: 25px !important;
}
.header_aera .navbar-header .navbar-brand img {
  max-width: 100%;
}
.header_aera .navbar-collapse .navbar-nav.navbar-right li a {
  font: 700 14px/100px "Roboto", sans-serif;
  color: #222222;
  text-transform: uppercase;
  padding: 0;
  padding-left:20px;
  color:#00539f !important;
}
.header_aera .navbar-collapse .navbar-nav.navbar-right li a:hover, .header_aera .navbar-collapse .navbar-nav.navbar-right li a:focus {
  color: #f6b60b;
}
.header_aera .navbar-collapse .navbar-nav.navbar-right li .nav_searchFrom {
  width: 100px;
  background: #f6b60b;
  color: #fff;
  padding: 0;
  text-align: center;
  margin-left: 15px;
}
.header_aera .navbar-collapse .navbar-nav.navbar-right li .nav_searchFrom:hover, .header_aera .navbar-collapse .navbar-nav.navbar-right li .nav_searchFrom:focus {
  color: #222222;
}


.header_aera .navbar-collapse .navbar-nav.navbar-right li.submenu ul li {
  display: block;
}
.header_aera .navbar-collapse .navbar-nav.navbar-right li.submenu ul li a {
  line-height: normal;
  font: 700 14px/normal "Roboto", sans-serif;
  padding: 12px 8px;
  display: block;
}

@media (min-width: 768px) {
  .header_aera .navbar-collapse .navbar-nav.navbar-right li:hover.submenu ul {
    transform: rotateX(0deg);
  }
  .header_aera .navbar-collapse .navbar-nav.navbar-right li:hover.submenu ul:before {
    transform: scaleX(1);
  }
  .header_aera .navbar-collapse .navbar-nav.navbar-right li:hover.submenu ul:after {
    transform: scaleX(1);
  }
}

/* End Header Aera */
/* End header area 2 */
.header_aera_tow {
  background-color: transparent;
  position: relative;
  box-shadow: none;
}
.header_aera_tow .navbar_right_fulid {
  background: #fff;
  height: 100px;
  padding-left: 20px;
  box-shadow: 0px 0px 40px 0px rgba(21, 47, 95, 0.2);
}
.header_aera_tow .navbar_right_fulid:after {
  content: "";
  position: absolute;
  right: 0;
  height: 100px;
  background: #fff;
  width: 30%;
  z-index: -1;
  box-shadow: 0px 0px 40px 0px rgba(21, 47, 95, 0.2);
}
.header_aera_tow .navbar_right_fulid ul.nav.navbar-nav.navbar-right {
  margin-right: 0;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background-color: transparent;
}

/* header area 2 */
/*--------------------------------------------------*/

.top_bar {
    padding: 12px 0px;
       background-image: linear-gradient(to right ,#00539f,#265db9)!important;
    }
.bigpixi-top_menu{
  margin-top: 10px;
}

.top_menu-logo ul li {
    font-size: 14px;

}

.top_menu-logo ul li {
    line-height: 30px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-right: 10px;
    float: left;
}
.top_menu-logo ul li i {
    line-height: 35px;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    margin-right: 10px;
    float: left;
}

.top_menu_icone li {
    display: inline-block;
    margin-left: 10px;
    width: 25px;
}
.top_menu_icone i{
  color: #fff;
  background:transparent;
  font-size:20px;
}

.top_menu-logo .top_Contact .float_r{
  float:right !important;
}
/*----------------------------------
   6.professional_builder
------------------------------------*/

.professional_builder {
  background: #f5f5f5;
  padding-top: 80px;
  padding-bottom: 50px;
}
.professional_builder .builder_all .builder {
  text-align: center;
  padding-bottom: 25px;
}
.professional_builder .builder_all .builder i {
  font-size: 48px;
  color: #f6b60b;
  padding-bottom: 35px;
}


/*----------------------------------
   7.what_we_area
------------------------------------*/

/*what_we_area_area start*/

.what_we_area {
  background: #f8b81d;
}
.what_we_area h4.c-b{
  padding: 0px !important;
}
.our_services_area .title h2:after {
  background: #fff;
}
.what_we_area .title h4 {
  color: #333;
}
.what_we_area .construction_iner {
  padding-top: 60px;
  padding-bottom: 70px;
}
.what_we_area .construction_iner .construction {
  text-align: center;
  padding-bottom: 30px;
}
.what_we_area .construction_iner .construction .cns-img {
  z-index: 2;
}
.what_we_area .construction_iner .construction .cns-img img {
  max-width: 100%;
}
.what_we_area .construction_iner .construction .cns-content a {
    font: 700 18px Roboto,sans-serif;
    color: #222;
    text-transform: uppercase;
}
.what_we_area .construction_iner .construction .cns-content {
  background: #fff;
  padding: 0 30px;
  padding-bottom: 20px;
  margin-top: -30px;
}
.what_we_area .construction_iner .construction .cns-content i {
  color: #fff;
  font-size: 24px;
  background: #333333;
  line-height: 60px;
  width: 60px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  z-index: 1;
  transition: all 300ms linear 0s;
  position: relative;
}


.what_we_area .construction_iner .construction:hover i, .what_we_area .construction_iner .construction:focus i {
  font-size: 35px;
}
/*End what_we_area_area*/

/*--------------------------------------------------*/

/*----------------------------------
   8.our_feature_area
------------------------------------*/
/*our_feature_area start*/
.our_feature_area {
 
  background: #fefefe;
}
.our_feature_area .feature_row {
  padding-top: 70px;
}
.our_feature_area .feature_row .feature_content h4{
  padding: 0px;
}
.our_feature_area .feature_row .feature_img {
  padding-top: 10px;
}
.our_feature_area .feature_row .feature_img img {
  max-width: 100%;
}
.our_feature_area .feature_row .feature_content .subtitle {
  padding-bottom: 40px;
}
.our_feature_area .feature_row .feature_content .media {
  padding-bottom: 40px;
}
.our_feature_area .feature_row .feature_content .media .media-left {
  padding-right: 30px;
}
.our_feature_area .feature_row .feature_content .media .media-left i {
  font-size: 24px;
  color: #f6b60b;
  line-height: 50px;
  width: 60px;
  text-align: center;
  background: #333333;
  border: 5px solid #f6b60b;
}


/*End our_feature_area*/

/*--------------------------------------------------*/



/*----------------------------------
   9.our_services_area
------------------------------------*/
/*our_services_area  start*/
.our_services_area {
  background: #2e3841;
  padding-bottom: 100px;
}
.our_services_area .title h2 {
  color: #fff;
}
.our_services_area .title h4 {
  color: #fefefe;
}
.our_services_area .portfolio_inner_area {
  padding-top: 60px;
}
.our_services_area .portfolio_inner_area .portfolio_filter {
  padding-bottom: 55px;
}
.our_services_area .portfolio_inner_area .portfolio_filter ul {
  text-align: center;
  margin: 0;
  padding: 0;
}
.our_services_area .portfolio_inner_area .portfolio_filter ul li {
  list-style: none;
  display: inline-block;
  padding-left: 30px;
}




.our_services_area .portfolio_inner_area .portfolio_item .single_facilities .single_facilities_inner img {
width: 100%;
}


/* grid-sizer css */
.grid-sizer {
  width: 33.33333333%;
}
/* End our_services_area */

/*----------------------------------
   10.our_services_tow
------------------------------------*/

/* our_services_tow start */
.our_services_tow {
  background: #f5f5f5;
  padding-bottom: 100px;
  overflow: hidden;
  display: block;
}
.our_services_tow .architecture_area {
  padding-top: 60px;
}
.our_services_tow .architecture_area .portfolio_filter_2 {
  border: 1px solid #dfe3e4;
  display: block;
  overflow: hidden;
}
.our_services_tow .architecture_area .portfolio_filter_2 ul {
  padding: 0;
}
.our_services_tow .architecture_area .portfolio_filter_2 ul li {
  float: left;
  list-style: none;
  width: 20%;
  text-align: center;
  transition: all 300ms linear 0s;
  border-right: 1px solid #dfe3e4;
  height: 150px;
}
.our_services_tow .architecture_area .portfolio_filter_2 ul li:last-child {
  border-right: 0;
}
.our_services_tow .architecture_area .portfolio_filter_2 ul li a {
  font: 400 18px "Roboto", sans-serif;
  color: #222222;
  display: block;
  padding-top: 40px;
  padding-bottom: 35px;
}
.our_services_tow .architecture_area .portfolio_filter_2 ul li a i {
  font-size: 36px;
  display: block;
  padding-bottom: 10px;
}
.our_services_tow .architecture_area .portfolio_filter_2 ul li:hover, .our_services_tow .architecture_area .portfolio_filter_2 ul li:focus, .our_services_tow .architecture_area .portfolio_filter_2 ul li.active {
  border-bottom: 5px solid #f6b60b;
}
.our_services_tow .architecture_area .portfolio_filter_2 ul li:hover a, .our_services_tow .architecture_area .portfolio_filter_2 ul li:focus a, .our_services_tow .architecture_area .portfolio_filter_2 ul li.active a {
  color: #f6b60b;
}
.our_services_tow .architecture_area .portfolio_2 {
  padding-top: 90px;
}
.our_services_tow .architecture_area .portfolio_2 .single_facilities img {
  max-width: 100%;
}
.our_services_tow .architecture_area .portfolio_2 .single_facilities .who_we_area .subtitle {
  padding-bottom: 30px;
}
.our_services_tow .architecture_area .portfolio_2 .single_facilities .who_we_area .subtitle h2:after {
  background: #f6b60b;
}
.our_services_tow .architecture_area .portfolio_2 .single_facilities .who_we_area p {
  font: 400 14px/26px "Roboto", sans-serif;
  color: #555555;
  padding-bottom: 30px;
}
.our_services_tow .architecture_area .portfolio_2 .single_facilities .who_we_area a {
  margin-top: 20px;
}
.our_services_tow .services_pages {
  padding-top: 0;
}

.grid-sizer-2 {
  width: 41.66666667%;
}

/*End our_services_tow  */
/*--------------------------------------------------*/




/*----------------------------------
   11.our_team_area
------------------------------------*/

/* our_team_area start */
.our_team_area {
  padding-bottom: 70px;
  background: #fefefe;
}
.our_team_area .team_row {
  padding-top: 70px;
}
.our_team_area .team_row .team_membar {
  height: 378px;
  display: block;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
}
.our_team_area .team_row .team_membar img {
  max-width: 100%;
}
.our_team_area .team_row .team_membar .team_content {
  background: #00539f;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
}
.our_team_area .team_row .team_membar .team_content ul {
  padding: 0;
  margin: 0;
  height: 0px;
  overflow: hidden;
  transition: all 300ms linear 0s;
}
.our_team_area .team_row .team_membar .team_content ul li {
  list-style: none;
  padding-left: 20px;
  display: inline-block;
}
.our_team_area .team_row .team_membar .team_content ul li:first-child {
  padding: 0;
}
.our_team_area .team_row .team_membar .team_content ul li a {
  font-size: 14px;
  color: #fff;
  line-height: 43px;
  width: 45px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #fff;
  display: block;
}
.our_team_area .team_row .team_membar .team_content ul li a:hover, .our_team_area .team_row .team_membar .team_content ul li a:focus {
  color: #00539f !important;
  background: #fff;

}
.our_team_area .team_row .team_membar .team_content .name {
  font: 700 14px "Roboto", sans-serif;
  color: #fff;
  display: block;
  text-transform: uppercase;
  padding-top: 10px;
}
.our_team_area .team_row .team_membar .team_content h6 {
  font: 400 14px "Roboto", sans-serif;
  color: #fff;
  padding-top: 5px;
}
.our_team_area .team_row .team_membar:hover .team_content ul, .our_team_area .team_row .team_membar:focus .team_content ul {
  height: 50px;
}
/*End our_team_area*/
/*--------------------------------------------------*/


/*----------------------------------
   12.our_achievments_area
------------------------------------*/

/*our_achievments_area start*/
.our_achievments_area {
  background: no-repeat fixed;
  background-position: center;
  text-align: center;
  position: relative;
  z-index: 1;
  padding-bottom: 100px;
}
.our_achievments_area:after {
  content: "";
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.55);
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: -1;
}
.our_achievments_area .title h2 {
  color: #fff;
}
.our_achievments_area .title h4 {
  color: #fefefe;
}
.our_achievments_area .achievments_row {
  padding-top: 60px;
}
.our_achievments_area .achievments_row .completed {
  text-align: center;
  border-right: 3px solid #fff;
}
.our_achievments_area .achievments_row .completed:last-child {
  border: 0;
}
.our_achievments_area .achievments_row .completed i {
  font-size: 30px;
  color: #fff;
  display: block;
  padding-top: 10px;
}
.our_achievments_area .achievments_row .completed .counter {
  font: 700 40px "Roboto", sans-serif;
  color: #00539f;
  display: block;
  padding-top: 23px;
}
.our_achievments_area .achievments_row .completed h6 {
  font: 400 14px "Roboto", sans-serif;
  color: #fff;
  padding-top: 20px;
  text-transform: uppercase;
  padding-bottom: 5px;
}
.our_achievments_area .title h2:after{
  background:#fff;
} 
/*our_achievments_area End*/

/*--------------------------------------------------*/

/*----------------------------------
   13.testimonial_area
------------------------------------*/
/* Testimonial Area start */
.testimonial_area {
  padding-bottom: 90px;
  background: #fefefe;
}
.testimonial_area .testimonial_carosel {
  padding-top: 60px;
}
.testimonial_area .testimonial_carosel .item .media {
  max-width: 260px;
  margin: 0 auto;
  padding-bottom: 35px;
}
.testimonial_area .testimonial_carosel .item .media .media-left {
  /*padding-right: 30px;*/
  width: 60%;
}
.testimonial_area .testimonial_carosel .item .media .media-left img {
  width: 100px;
  height: 110px;
  border-radius: 10px;
}
.testimonial_area .testimonial_carosel .item .media .media-body {
  /*padding-top: 40px;*/
  width: 100%;
}
.testimonial_area .testimonial_carosel .item .media .media-body h4 {
  font: 700 14px "Roboto", sans-serif;
  text-transform: uppercase;
  color: #222222;
}
.testimonial_area .testimonial_carosel .item .media .media-body h6 {
  font: 400 italic 14px "Roboto", sans-serif;
  color: #555555;
  padding-top: 5px;
}
.testimonial_area .testimonial_carosel .item p {
  font: 400 italic 18px/26px "Roboto", sans-serif;
  color: #00539f;
  max-width: 945px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px;
}
.testimonial_area .testimonial_carosel .item p i {
  color: #555555;
  font-size: 18px;
  display: block;
}
.testimonial_area .testimonial_carosel .item p .fa-quote-left {
  text-align: right;
  padding-top: 5px;
}
.testimonial_area .testimonial_carosel .item p .fa-quote-right {
  text-align: left;
  padding-bottom: 5px;
}
.testimonial_area .testimonial_carosel .owl-controls {
  text-align: center;
}
.testimonial_area .testimonial_carosel .owl-controls .owl-dots .owl-dot {
  height: 10px;
  width: 10px;
  border: 2px solid #555555;
  margin-left: 15px;
  display: inline-block;
  transition: all 300ms linear 0s;
  border-radius: 50%;
}
.testimonial_area .testimonial_carosel .owl-controls .owl-dots .owl-dot:hover, .testimonial_area .testimonial_carosel .owl-controls .owl-dots .owl-dot:focus, .testimonial_area .testimonial_carosel .owl-controls .owl-dots .owl-dot.active {
  background: #f6b60b;
  border: 2px solid #f6b60b;
}

/* End Testimonial Area */





/*----------------------------------
   14.our_partners_area
------------------------------------*/
/* Our Partners Area start */
.our_partners_area {
  background: #f5f5f5;
}
.our_partners_area .partners {
  padding-top: 90px;
  padding-bottom: 90px;
}
.our_partners_area .partners .item img {
  width: 100%;
}
.our_partners_area .book_now_aera {
  background: #f6b60b;
  padding: 50px 0;
}
.our_partners_area .book_now_aera .book_now .booking_text {
  padding-top: 8px;
}


.our_partners_area .book_now_aera .book_now .book_bottun a {
  width: 200px;
  background: #fff;
  border-radius: 10px;
  color: #00539f !important;
}
.our_partners_area .book_now_aera .book_now .book_bottun a:hover{
  color: #fff !important;  
}


/* End Our Partners Area */
/*--------------------------------------------------*/
.featured_works {
  background: url("../images/protfolio_bg.html") no-repeat fixed;
  background-position: center;
  text-align: center;
  position: relative;
  z-index: 1;
  padding-bottom: 100px;
  display: block;
  overflow: hidden;
  padding-bottom: 100px;
}
.featured_works .title h4 {
  color: #fefefe;
}
.featured_works .featured_gallery {
  padding-top: 60px;
}
.featured_works .featured_gallery .gallery_iner {
  position: relative;
  overflow: hidden;
}
.featured_works .featured_gallery .gallery_iner img {
    height: 200px;
    width: max-content;
}
.featured_works .featured_gallery .gallery_iner:after {
  content: "";
  position: absolute;
  background-color: rgba(0, 83, 159, 0.63);
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  transition: all 300ms linear 0s;
}
.featured_works .featured_gallery .gallery_iner .gallery_hover {
  position: absolute;
  top: 45%;
  left: 0;
  transform: translateY(-50%);
  right: 0;
  text-align: center;
  z-index: 2;
}
.featured_works .featured_gallery .gallery_iner .gallery_hover h4 {
  color: #fff;
  font: 700 14px "Roboto", sans-serif;
  text-transform: uppercase;
  padding-bottom: 18px;
  position: relative;
  right: -100%;
  transition: all 300ms linear 0s;
}
.featured_works .featured_gallery .gallery_iner .gallery_hover a {
  width: 200px;
  font: 400 14px/60px "Roboto", sans-serif;
  text-align: center;
  display: block;
  border-radius: 10px;
  background: #333333;
  color: #fff;
  position: relative;
  left: -100%;
  transition: all 300ms linear 0s;
  text-transform: uppercase;
  margin: 0 auto;
}
.featured_works .featured_gallery .gallery_iner .gallery_hover a:hover, .featured_works .featured_gallery .gallery_iner .gallery_hover a:focus {
  background: #fff;
  color: #00539f !important;
}
.featured_works .featured_gallery .gallery_iner:hover:after, .featured_works .featured_gallery .gallery_iner:focus:after {
  opacity: 1;
}
.featured_works .featured_gallery .gallery_iner:hover .gallery_hover h4, .featured_works .featured_gallery .gallery_iner:focus .gallery_hover h4 {
  right: 0;
}
.featured_works .featured_gallery .gallery_iner:hover .gallery_hover a, .featured_works .featured_gallery .gallery_iner:focus .gallery_hover a {
  left: 0;
}

/*--------------------------------------------------*/


/*----------------------------------
   15.latest_blog_area
------------------------------------*/
/* latest_blog_area */
.latest_blog_area {
  padding-bottom: 70px;
  background: #fefefe;
}
.latest_blog_area .latest_blog .blog_content{
  margin-bottom: 20px;
}
.latest_blog_area .latest_blog .blog_content .blog_heading {
  font: 700 18px "Roboto", sans-serif;
  color: #222222;
  display: block;
  padding-top: 45px;
  color: #000 !important;
}

.latest_blog_area .latest_blog .blog_content h4 {
  font: 400 14px "Roboto", sans-serif;
  color: #555555;
  text-transform: uppercase;
  padding-top: 25px;
}
.latest_blog{
  padding-top: 60px;

}


.latest_blog_area .latest_blog .blog_content h4 span {
  color: #f6b60b;
  width: 40px;
  text-align: center;
  display: inline-block;
}




/* End latest_blog_area */

/*--------------------------------------------------*/


/*------------------------------------
16. footer_area
------------------------------------*/

/*footer_area start */
.footer_area {
 
  position: relative;
  background-size: cover;
  background-position: center;
  z-index: 1;
}
.footer_area:after {
  content: "";
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: -1;
}

.input-sm {
    height: 50px !important;
    padding: 5px 10px;
    font-size: 16px !important;
    line-height: 1.5;
    font-weight: 700 !important;
    border-radius: 0px !important;
    border: none;
    border-bottom: 2px solid #bbb;
    box-shadow: none !important;
}
.input-sms {
    height:150px !important;
    padding: 5px 10px;
    font-size: 16px !important;
    line-height: 1.5;
    font-weight: 700 !important;
    border-radius: 0px !important;
    border: none;
    border-bottom: 2px solid #bbb;
    box-shadow: none !important;
}
.mt-30{
  margin-top:50px;
}
.text-c{
  text-align: center !important;
}
.py-100 {
    padding: 100px 0px 30px 60px;
}

/*End footer_area */

/*--------------------------------------------------*/

/*------------------------------------
17.modal
------------------------------------*/

/*modal start*/


.center {
    margin-top:50px;   
}

.modal-header {
  padding-bottom: 5px;
}

.modal-footer {
      padding: 0;
  }
    
.modal-footer .btn-group button {
  height:40px;
  border-top-left-radius : 0;
  border-top-right-radius : 0;
  border: none;
  border-right: 1px solid #ddd;
}
  
.modal-footer .btn-group:last-child > button {
  border-right: 0;
}

.modal.in .modal-dialog{
  margin-top: 150px !important;
  padding: 20px;
}
.modal-content{
  border-radius: 0px !important;
  padding: 40px;
}
.user-logged-in .modal-content{
 margin-top: 30px;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
    text-transform: uppercase !important;
    color: #00539f;
}
.modal-header {
    padding: 15px;
    border-bottom: 0px !important;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 1 !important;
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: #00539f;
    border-radius: 50%;
    border: 0;
    font-size:40px !important;
    position: relative !important;
    top: -77px !important;
    right: -66px !important;
}
.modal-dialog {
    width: -webkit-fill-available;
    margin: 30px auto;
}
.c-f{
  color:#fff !important;
}
.c-b{
  color:#000 !important;
}
/*End modal */

/*--------------------------------------------------*/



/*------------------------------------
18.footer social icons
------------------------------------*/

/* footer social icons start */
ul.social-network {
  list-style: none;
  display: inline;
  margin-left:0 !important;
  padding: 0;
}
ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss:hover {
  background-color: #F56505;
}
.social-network a.icoFacebook:hover {
  background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
  background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
  background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
  background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
  background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
  color:#fff;
}


.social-circle li a {
  display:inline-block;
  position:relative;
  margin:0 auto 0 auto;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  text-align:center;
  width: 50px;
  height: 50px;
  font-size:20px;
}
.social-circle li i {
  margin:0;
  line-height:50px;
  text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

/*End footer social icons */ 
/*--------------------------------------------------*/


/*------------------19. blog-area start --------------------*/
.blog-wrap{
  background:#fff;
}
.blog-img{
  position:relative;
  z-index:99;
  overflow:hidden;
}
.blog-img:before,.blog-img:after{
  position:absolute;
  top:0;
  width:0;
  height:100%;
  background:#000;
  content:"";
  transition:all .5s;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  opacity:.5;
}
.blog-img:before{
  left:0;
}
.blog-wrap:hover .blog-img:before{
  width:50%;
}
.blog-img:after{
  right:0;
}
.blog-wrap:hover .blog-img:after{
  width:50%;
}
.blog-meta{
  margin-bottom:10px;
}
.blog-meta ul li{
  display:inline-block;
  margin-right:10px;
}
.blog-meta ul li a{
  color:#555 !important;
}
.blog-meta ul li a:hover{
  color:#296dc1;
}
.blog-meta ul li a i{
  margin-right:3px;
}
.blog-content{
  position:relative;
  padding:20px 20px 30px;
  border-bottom:2px solid #c3c3c3;
}
.blog-content:before,.blog-content:after{
  position:absolute;
  left:0;
  bottom:-2px;
  width:10%;
  height:2px;
  background: #296dc1;
  content:"";
  transition:all .5s;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  opacity:.7;
}
.blog-wrap:hover .blog-content:before,.blog-wrap:hover .blog-content:after{
  width:50%;
}
.blog-content:after{
  left:auto;
  right:0;
}
.blog-content h3{
  margin-bottom:15px;
}
.blog-content h3 a{
  font-size:20px;
  text-transform:capitalize;
  color:#555!important; 
}
.blog-content p{
  margin-bottom:20px;
  line-height:24px;
}
.blog-content a.btn-style{
  border:1px solid #296dc1;
}

.blog-img img {
    width: 100%;
}
img {
    max-width: 100%;
    height: auto;
}
ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
/*------------------18. blog-area end --------------------*/
/*--------------------pagination-wrap start--------------*/
.pricing-page-area{
  padding-top:220px;
}
.pagination-wrap ul{
    margin-top:70px;
    display: flex;
    justify-content: center;
}
.pagination-wrap ul li a{
    height: 45px;
    width: 45px;
    background: #;
    line-height: 45px;
    display: block;
    border: 1px solid #296dc1;
    text-align: center;
    margin-left: -1px;
    color:#333 !important;
    font-size: 18px;
}
.pagination-wrap ul li a:hover,.pagination-wrap ul li.active a{
    background: #296dc1;
    color: #fff !important;
}
.blog-img img{
    width: 100%;
}
.btn_font_16{
  font-size: 16px;
  text-transform:capitalize;
  padding: 12px 25px;
}
/*--------------------pagination-wrap end--------------*/


/*============================================
            19.blog-single-area start
=============================================*/

/*============================================
*.blog-single-left img start
=============================================*/
.blog-details-img{
    margin-bottom: 40px;
}
.comment-main-area {
    margin-left: 115px;
}
.blog-details-content h3{
    margin-bottom: 20px;
}
.blog-details-content p{
    margin-bottom: 25px;
}
.blog-details-content blockquote{
    font-size: 16px;
    font-style: italic;
      background: #265db9 !important;
    background-image: linear-gradient(to right top ,#6871f4,#6871f4,#6871f48f,#265db9 ,#265db9b0 )!important;
    padding: 30px;
    border-left: 5px solid rgb(186, 85, 187);
    margin:35px 0px;
    color: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.blog-details-content ul{
    margin-bottom: 30px;
}
.blog-details-content ul li{
    line-height: 30px;
    padding-left: 20px;
    position: relative;
}
.blog-details-content ul li::before,.blog-details-content ul li::after{
    position: absolute;
    left: 0;
    top: 50%;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #2e7ffe;
    content: "";
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    z-index: 99;
}
.blog-details-content ul li::after{
    height: 10px;
    width: 10px;
    background: #2e7ffe;
    z-index: 9;
    left: -2px;
}
ol{
  list-style:none;
}
.comment-wrap {
    overflow: hidden;
    margin-bottom: 10px;
    border: 1px solid #f1f1f1;
    padding: 30px 20px;
}
.comment-theme{
  float:left;
}

.comment-wrap1 {
    margin-left: 20px;
}
.comment-wrap2{
    margin-left:40px;
}
.sewl-comments-meta h4{
  text-transform:capitalize;
  font-weight:500;
  margin-top: 0px;
 margin-bottom: 20px;
}
.sewl-comments-meta h4 span {
    font-weight: 400;
    font-size: 13px;
    display: inline-block;
    margin-left: 15px;
    font-style: italic;
}
.comment-main{
  margin-bottom:50px;
}
.comment-image img {
    border-radius: 50%;
}
.comment-area p{
    margin-bottom: 5px;
}
.comments-reply a.comment-reply-link{
    font-style: italic;
}
h3.blog-title {
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 5px;
}


.sewl-form-inputs textarea,.sewl-form-inputs input{
  height:50px;
  width:100%;
  border:1px solid #f1f1f1;
  padding-left:20px;
  margin-bottom:20px;
}
.sewl-form-inputs textarea:focus,.sewl-form-inputs input:focus{
  outline:1px solid #296dc1;
}
.sewl-form-inputs textarea{
  height:150px;
  padding-top:10px;
}
.form-submit  input,
.form-actions  input{
  text-transform:uppercase;
  background:#296dc1;
  color:#fff;
  width: auto;
  padding: 10px 25px;
}
.form-submit  input:hover,
.form-actions  input:hover{
  background:#0552b1;
  border-color:#0552b1;
  color: #fff;
}
/*============================================
*.blog-single-left img End
=============================================*/
/*----------------commingsoon-area start------------------*/
.comming-soon-area {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.comming-soon-wrap h3{
  font-size: 30px;
  margin-bottom: 20px;
}
.comming-soon-wrap p{
  font-size: 16px;
  margin-bottom: 30px;
}
.timer span.cdown {
    display: block;
    float: left;
    width: 24%;
    text-align: center;
    height: 150px;
    display: flex;
    flex-direction: column;
    background: #296dc1;
    justify-content: center;
    color: #fff;
  transform: skewX(25deg);
  -webkit-transform: skewX(25deg);
    -moz-transform: skewX(25deg);
    margin-left: 10px;
}
.timer span.cdown:first-child{
  margin-left: 0px;
}
.timer span.time-count {
    font-size: 40px;
  margin: 0px auto;
    margin-bottom: 10px;
    display: block;
  transform: skewX(-25deg);
  -webkit-transform: skewX(-25deg);
    -moz-transform: skewX(-25deg);
  padding-bottom: 10px;
  width: 100px;
  position: relative;
}
.timer span.time-count::before,.timer span.time-count::after{
  position: absolute;
  left: 25px;
  bottom: 0;
  width: 20px;
  height: 1px;
  background: #fff;
  content: "";
}
.timer span.time-count::after{
  left: 30px;
  bottom: -2px;
}
.timer span.cdown p{
  color: #fff;
  transform: skewX(-25deg);
  -webkit-transform: skewX(-25deg);
    -moz-transform: skewX(-25deg);
  font-size: 18px;
}
.search-sidebar input {
    width: 100%;
    height: 45px;
    background: transparent;
    border: 1px solid #c0dbfd;
    padding-left: 10px;
}
.search-sidebar button {
    position: absolute;
    right: 0;
    width: 45px;
    height: 45px;
    top: 0;
    color: #fff;
    background: #296dc1;
    border: 1px solid #296dc1;
}

/*----------------contact-area start------------------*/

.contact-wrap textarea{
  height: 200px;
}
.contact-wrap button{
  border: 1px solid #999;
  padding: 10px 30px;
}
.contact-wrap ul li{
  padding: 30px 30px;
  background: #296dc1;
  color: #fff;
  position: relative;
  padding-left: 90px;
}
.contact-wrap ul li:nth-child(odd){
  background:#0552b1;
}
.contact-wrap ul li p{
  color: #fff;
}
.contact-wrap ul li i{
  position: absolute;
  left: 35px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  font-size: 35px;
}
.contact-wrap h3{
  text-transform: uppercase;
  margin-bottom: 30px;
}
#googleMap{
  height: 500px;
  width: 100%;
  background: #296dc1;
  margin-top: 100px;
}

/*----------------contact-area End------------------*/

/*-----------------------*.sidebar-style-here-----------------------*/
.search-sidebar form{
    position: relative;
}
.search-sidebar input{
    width: 100%;
    height: 45px;
    background: transparent;
    border: 1px solid #c0dbfd;
    padding-left: 10px;
}
.search-sidebar button{
    position: absolute;
    right: 0;
    width: 45px;
    height: 45px;
    top: 0;
    color: #fff;
     background: #265db9 !important;
    background-image: linear-gradient(to right top ,#6871f4,#6871f4,#6871f48f,#265db9 ,#265db9b0 )!important;
    border: 1px solid #2e7ffe;
}
.search-sidebar button:hover{
    background: #0552b1;
    border-color: #0552b1;
}
.sidebar-title{
    position: relative;
    font-size: 22px;
    text-transform: capitalize;
    padding-bottom: 5px;
   margin: 25px 0px;
}

.category-wrap ul li{
    line-height: 35px;
    border-bottom: 1px solid #f1f1f1;
}
.category-wrap ul li:last-child{
    border-bottom: none;
}
.category-wrap ul li a {
    padding-left: 20px;
    position: relative;
    display: block;
    line-height: 35px;
    font-size: 16px;
    font-weight: 400;
    color: #555 !important;
}
.category-wrap ul li a::before{
    position: absolute;
    left: 0;
    content: "\f101";
    font-family: fontawesome;
    color: #296dc1;
    font-size: 16px;
    top: 0;
}
.related-post ul li{
    overflow: hidden;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.related-post ul li:last-child{
    border-bottom: none;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.post-img{
    float: left;
}
.post-info{
    margin-left: 95px;
}
.post-info a {
      font-weight: 400;
    text-transform: capitalize;
    font-size: 15px;
    margin-bottom: 10px;
    display: block;
    line-height: 20px;
    color:#555 !important;
}
.post-info p{
    line-height: 20px;
    font-size: 12px;
    color: #296dc1;
}
.archive-wrap ul li{
    line-height: 35px;
}
.archive-wrap ul li a{
    display: block;
    color: #555!important;
        font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 35px;
}
.tags-wrap ul li{
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
.tags-wrap ul li a{
    display: block;
    padding: 8px 20px;
    border: 1px solid #e1e1e1;
     font-weight: 400;
    text-transform: capitalize;
    font-size: 16px;
      color: #555!important;
}
.tags-wrap ul li a:hover{
    background: #296dc1;
    color: #fff !important;
}


.ptb-140{
  margin-top: 100px;
}
/*-----------------------*.sidebar-style-here-----------------------*/



/*============================================
*.blog-single- End
=============================================*/
/*------------------------------------
19.Edit-css
------------------------------------*/

/*Edit-css start*/
.top-button {
    margin-top: 10px;
}
.button-n,
a {
    text-decoration: none!important
    color:#fff !important;
}
.button-n {
    padding: 18px 50px;
    background: #00539f;
    font-size: 22px !important;
    font-weight: 500 !important;
    border-radius:10px;
    text-decoration: none !important;
       display: inline-block;
    border: 0;
    color: #fff !important;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}
.button-n:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #222222;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    right: 0;
    transform: scaleY(0);
    transform-origin: 50%;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}
.button-n:hover:before, .button-n:focus:before {
    transform: scaleY(1);
    color: #fff !important;
}
a:before, a:after, .btn:before, .btn:after, button:before, button:after {
    transition: all 300ms linear 0s;
}




a{
    color: #fff;
    text-decoration: none !important;
}
.header_aera .navbar-header .navbar-brand{
  padding-top:40px !important;
}
.py-30{
  padding:20px 0px;
}
.tr{
text-align: right;
}
.logo-quick{
  color: #083e6d !important;
  font-size: 30px !important;
  font-weight: 700;
  text-transform: capitalize;

}


.what_we_area {
    
    background: #f2e9df !important;
    background-image: linear-gradient(to right bottom, #f2e9df, #c6dae1, #c6dae1, #f2e9df, #f2e9df) !important;
}

section{
  padding: 70px 0px;
}

.main-h{
  font-size: 56px;
    line-height: 1;
    font-weight: bold;
    text-transform: capitalize;
    margin: 30px 0 20px;
    -webkit-animation-delay: 150ms;
    animation-delay: 150ms;
   visibility: visible;
    animation-name:fadeInUp;

}
.main-h2{
    font-size: 24px;
  visibility: visible;
    animation-name:fadeInUp;
    font-weight: normal;
    margin-bottom: 30px;
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms;
    visibility: visible;
    animation-name:fadeInUp;
  }
  .main-h3{
visibility: visible;
    animation-name:fadeInUp;
  }

  .slider_area .slider_inner .camera_caption div a {
    font: 700 18px/59px "Roboto", sans-serif;
    width: 180px;
    text-align: center;
    background: #f6b60b;
    display: block;
    text-shadow: none;
    margin: 0 auto;
    outline: none !important;
    box-shadow: none;
    border: 0;
    color: #222222;
    position: relative;
    z-index: 2;
    padding: 0;
}

.top-banner {
    margin-top: 40px;
}
.mt-120{
 padding: 60px 0px 30px 75px;
}


.professional_builder .builder_all .builder i {
   
    color: #9eccfd !important;
  
}

.title h2 {
    font: 400 24px "Oswald", sans-serif;
    color: #013e6d;
    font-size: 45px;
    padding-top:0px;
    font-weight: 700;
    position: relative;
}
.pb-90{
padding-bottom: 90px;

}
.title h2:after {
    content: "";
    position: absolute;
    background: #013e6d;
    height: 5px;
    width: 100px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
}
.radius{
      display: inline-block;
    width: 150px;
    height: 150px;
    background: #00539f;
    border-radius: 50%;
}
.services-images {
    padding: 35px;
    width: 100%;
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    -o-transition: all .8s;
    -ms-transition: all .8s;
    transition: all .8s;
}
.services-images:hover{

    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    -o-transition: all .8s;
    -ms-transition: all .8s;
    transition: all .8s;
}

.back-right-text {
    background-color: #00539f !important;
    background-position: right !important;
    background-repeat: no-repeat !important;
}

.back-right-text-c {
    background-color: #00539f !important;
    background-position: right !important;
    background-repeat: no-repeat !important;
}

.subtitle h2:after {
  background:#fff;
}
.subtitle h2 {
    font: 700 36px "Roboto", sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 20px;
}
.mt-50{
  margin: 50px 0px;
  color: #fff;
}

.overlay-all {
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,.58);
    padding: 70px 0px;
}
.overlay {
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
   background-color: rgba(0,0,0,.58);
  
}
.our_partners_area .book_now_aera {
    background: #00539f;
    padding: 50px 0;
}

 .back-right-text-b {
    background-color: #00539f !important;
    background: url(../images/pp.png) right top no-repeat;
}

.our_feature_area .feature_row {
    padding-top:0px;
    padding-bottom: 0px;
}

.google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }

.our_feature_area .feature_row .feature_content .media .media-left i {
    font-size: 24px;
    color: #ffffff;
    line-height: 50px;
    width: 60px;
    text-align: center;
    background: #333333;
    border: 5px solid #ffffff;
}

.our_feature_area .feature_row .feature_content .subtitle {
    padding-bottom: 40px;
    padding-top: 40px;
}
.pt-90{
  padding-top: 90px;
  }   

  .box-s{
transition-duration: 1s;
    width: 100%;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 20px 20px 0px -10px #00539f;

  }
  .box-s:hover{
    transition-duration: 1s;
    padding: 15px;
    border-radius: 20px;
    box-shadow: -20px -20px 0px -10px #00539f;

  }

 .latest_contact{
    padding-top: 60px;
  }

  .latest_contact .contact {
    text-align: center;
    color: #00539f;
    margin-bottom: 25px;
}
.location strong{

  color: #00539f
}
.location{
  margin-top:30px;
}
/*End Edit-css*/
/*--------------------------------------------------*/







/*------------------------------------
20.Responsive
------------------------------------*/

@media (min-width: 992px) {
  .modal-dialog{
    width: 980px;
  }
}

@media (min-width: 768px) {
  .header_aera .navbar-collapse .navbar-nav.navbar-right li.submenu ul {
    margin-right: -90px;
    display: block;
    transform: rotateX(-90deg);
    transform-origin: top;
  }
}


@media (max-width: 991px) {
  .top_header_area .top_nav li a {
    padding-left: 20px;
  }

  .header_aera .navbar-collapse .navbar-nav.navbar-right li a {
    padding-left: 20px;
  }

  
  .header_aera_tow .navbar-collapse .navbar-nav.navbar-right li a {
    padding-left: 16px;
  }

  .top_header .top_nav li a {
    padding-left: 10px;
  }

  .header_aera_tow .navbar_right_fulid::after {
    display: none;
  }

  .top_header_area.top_header {
    background: #111f29 !important;
  }

  .top_header_area.top_header .right_top_header::after {
    display: none;
  }

  .header_aera_tow {
    background: #fff !important;
  }

  .header_aera_tow .navbar_right_fulid {
    box-shadow: none;
  }

  .all_header {
    box-shadow: 0px 0px 40px 0px rgba(21, 47, 95, 0.2);
  }

  

  .our_skill_inner {
    padding-top: 30px;
  }

  .our_partners_area .book_now_aera .book_now .book_bottun a {
    margin-left: 15px;
  }

  .building_construction_area .building_construction_row .constructing_laft .ipsum_img {
    padding-left: 0;
  }

  .contact_map #map {
    height: 300px;
  }


  .blog_all .blog_row .main_blog .blog_content .tag a {
    margin-bottom: 10px;
  }

  .blog_all .blog_row .main_blog .blog_content .blog_heading {
    padding-left: 20px;
  }
}

@media (max-width: 767px) {
  .header_aera .navbar-collapse .navbar-nav.navbar-right li a {

color: #fff !important;

  }
  .dropdown-menu {
    position: relative !important;
float:none !important;
  }
  .top_header_area .top_nav li {
    display: inline-block;
  }
  .top_menu-logo ul li{
    font-size: 15px;
  }
  .top_menu-logo ul li i{
    display: none;
  }

.top_menu-logo ul li {
    font-size: 14px
  }

  iframe{
      width: 320px !important;
    }
.modal-dialog {
    width:100% !important;
    margin: 30px auto;
}
  .logo-quick {
    color: #083e6d !important;
    font-size: 25px  !important;    
    font-weight: 700;
}
.back-right-text-b{
  background-image: none !important;
}
.back-right-text-c{
   background-image: none !important;
}
h4.location{
      padding-left: 15px;
      padding-right: 15px;
    }

    .our_feature_area .feature_row .feature_content .media .media-left{
      padding-right: 15px;
    }
.mt-120 {
    padding: 10px 0px 30px 54px !important;
}
.py-100 {
       padding: 30px 0 0px 0px;}
.header_aera .navbar-header .navbar-brand {
    padding-top: 30px !important;
}
section {
    padding: 30px 0px !important;
}
  .top_header_area .top_nav li:first-child a {
    padding-left: 15px;
  }
  .top_header_area .top_nav li a {
    line-height: 28px;
  }

  .top_header_area .social_nav {
    padding-top: 0;
    padding-bottom: 10px;
  }
  .top_header_area .social_nav li {
    display: inline-block;
  }
  .top_header_area .social_nav li:first-child a {
    margin-left: 0;
  }

  .navbar-toggle {
    top: 15px;
  }

  .header_aera .navbar-header {
    height: 80px;
  }
  .header_aera .navbar-header .navbar-brand {
    padding-top: 30px !important;
  }

  .header_aera .navbar-collapse .navbar-nav.navbar-right li a {
    line-height: 45px !important;
    padding: 0px 10px !important;
  }

  .header_aera .navbar-collapse .navbar-nav.navbar-right li.submenu ul {
    padding-left: 30px;
    background-color: transparent;
  }
  .header_aera .navbar-collapse .navbar-nav.navbar-right li.submenu ul li a:hover, .header_aera .navbar-collapse .navbar-nav.navbar-right li.submenu ul li a:focus {
    color: #f6b60b;
  }

  .slider_inner.camera_wrap {
    height: 500px !important;
  }

  .about_us_area .about_row .about_client {
    padding-top: 40px;
  }

  .what_we_area .construction_iner .construction {
    max-width: 390px;
    margin: 0 auto;
  }

  .our_team_area .team_row .team_membar {
    max-width: 360px;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
  }

  .our_team_area .team_row .team_membar img {
    height: auto;
  }

  .our_achievments_area .achievments_row .completed {
    border: 0;
  }

  .latest_blog_area .latest_blog .blog_content {
    max-width: 360px;
    margin: 20px auto;
  }

  .footer_about.quick {
    padding-bottom: 50px !important;
  }

  .footer_area .footer_row {
    padding-bottom: 0;
  }

  .slider_area_tow .slider_inner .camera_caption div .container {
    max-width: 726px !important;
  }

  .header_aera_tow .navbar_right_fulid {
    height: 80px;
  }

  .top_header_area.top_header {
    display: none;
  }

  .header_aera .navbar-collapse .navbar-nav.navbar-right li .nav_searchFrom {
    height: 45px;
  }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background: #0e56a9;
  }

  .our_services_tow .architecture_area .portfolio_2 .single_facilities img {
    margin-top: 30px;
  }

  .our_services_tow .architecture_area .portfolio_filter_2 ul li {
    width: 33.3333%;
    border-bottom: 1px solid #dfe3e4;
  }

  .our_services_tow .architecture_area .portfolio_filter_2 ul li:last-child {
    border-right: 1px solid #dfe3e4;
  }

  .our_services_tow .architecture_area .portfolio_filter_2 {
    border-bottom: 0;
    border-right: 0;
  }

  .about_client.about_pages_client {
    padding-top: 0 !important;
    padding-bottom: 30px;
  }

  .constructing_right {
    padding-top: 30px;
  }

  .blog_tow_area .blog_tow_row .renovation {
    max-width: 360px;
    margin: 0 auto;
  }

  .widget_area {
    padding-top: 60px;
  }

  .footer_area .footer_row .footer_about address .my_address li span {
    padding-left: 0;
  }

  .not_found_area {
    padding-left: 15px;
    padding-right: 15px;
  }

  .contact_info.send_message {
    padding-top: 40px;
  }

  .blog_all .blog_row {
    padding-bottom: 40px;
  }
.header_aera .navbar-collapse .navbar-nav.navbar-right li.submenu ul {
padding-left: 30px;
background-color: #002343 !important;
}
 .header_aera .navbar-collapse .navbar-nav.navbar-right li > .icon::after {
    color: #fff;
    content: "\f067";
    font-family: "FontAwesome";
    font-size: 18px;
    height: 100%;
    position: absolute;
    right: 20px;
    top: -21px;
    width: 100%;
    font-style:initial;
}

.header_aera .navbar-collapse .navbar-nav.navbar-right li .icons::after {
    color: #000;
    content: "\f068";
    font-family: "FontAwesome";
    font-size: 18px;
    height: 100%;
    position: absolute;
    right:0px;
    top: -25px;
    width: 100%;
    font-style: initial;
}

.header_aera .navbar-collapse .navbar-nav.navbar-right li .icon {
    position: relative;
      right: -330px;
    top: -12px !important;
    z-index: 99999999999999 !important;
}
.header_aera .navbar-collapse .navbar-nav.navbar-right li .icons {
    position: relative;
      right: -310px;
    top: -12px !important;
    z-index: 99999999999999 !important;
    display: none;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: #284e92 !important;
}


}


.header_aera .navbar-collapse .navbar-nav.navbar-right li a:hover, .header_aera .navbar-collapse .navbar-nav.navbar-right li a:focus {
    color: #6c3fff !important;
}

@media (max-width: 499px) {
  .our_services_area .portfolio_inner_area .portfolio_item .single_facilities .single_facilities_inner .gallery_hover {
    display: none;
  }
  .tr {
    text-align: center !important;
} 
.logo-quick {
    color: #083e6d !important;
    font-size: 25px;
    font-weight: 700;
}
.header_aera .navbar-header .navbar-brand {
    padding-top:25px !important;
}

  .our_services_area .portfolio_inner_area .portfolio_filter ul li:first-child {
    padding-bottom: 10px;
  }

  .portfolio_filter a{
    color: #fff !important;
  }

  .our_services_tow .architecture_area .portfolio_filter_2 ul li {
    width: 50%;
  }

  .our_partners_area .partners .item img {
    width: auto;
    margin: 0 auto;
  }

  .call_min_area .call_btn a {
    display: block;
    margin: 0 auto;
  }
  .call_min_area .call_btn a:first-child {
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .blog_all .blog_row .main_blog .client_text .control {
    width: 100%;
    margin-bottom: 10px;
  }

  .blog_all .blog_row .main_blog .client_text .control:last-child {
    border-left: 1px solid #888;
  }

  .blog_all .blog_row .main_blog .reply_comment {
    padding-left: 30px;
  }

  .blog_all .blog_row .main_blog .blog_content .blog_heading {
    font-size: 20px;
  }

  .top_menu-logo ul li i{
    display: none;
  }
  .top_menu-logo ul li{
    font-size: 10px;
  }
}

@media (max-width: 360px) {
  .slider_area .slider_inner .camera_caption div h3 {
    font-size: 26px;
  }
  ul.social-network li {
    display: inline;
    margin: 0 2px;
}

  .what_we_area .construction_iner .construction .cns-content {
    padding: 0 10px;
    padding-bottom: 20px;
  }

.logo-quick {
    color: #083e6d !important;
    font-size: 25px;
    font-weight: 700;
}
.header_aera .navbar-header .navbar-brand {


    padding-top: 30px !important;
}

  .featured_works .featured_gallery .gallery_iner .gallery_hover {
    display: none;
  }

  .footer_area .copyright_area {
    line-height: 26px;
    padding: 10px 0;
  }

  .call_min_area h2 {
    font-size: 30px;
  }
  .call_min_area p {
    font-size: 16px;
  }

  .footer_area .footer_row .footer_about address .my_address li span {
    padding-left: 30px;
  }

  .blog_all .blog_row .main_blog .blog_content .blog_heading {
    font-size: 15px;
  }

  .slider_area_tow .slider_inner .camera_caption div h3 {
    font-size: 19px;
    padding-top: 10px;
  }
}
@media (max-width: 320px) {
  .slider_area_tow .slider_inner .camera_caption div {
    padding-top: 95px;

  }

@media (max-width: 320px) {

.top_menu_icone li {
    display: inline-block;
    margin-left: 5px;
    width: 20px;
    font-size: 11px;
  }

   .top_menu-logo ul li {
    font-size: 10px;
    margin-right: 5px;
}
.top_menu-logo ul li i {
    display: none;
}
.header_aera .navbar-header .navbar-brand {
    padding-top: 25px !important;
}
  }



  .slider_area .slider_inner .camera_caption div h3 {
    font-size: 23px;
  }

  .building_construction_area .building_construction_row .constructing_laft a {
    font-size: 22px;
  }

  .blog_all .blog_row .main_blog .blog_content .blog_heading {
    font-size: 13px;
  }

  .slider_area_tow .slider_inner .camera_caption div {
    padding-top: 60px;
  }

  .slider_area_tow .slider_inner .camera_caption div h3 {
    font-size: 18px;
    padding-top: 10px;
  }
}



.top_menu-logo .top_Contact .float_r{
  float:right !important;
}
/*--------------------------------------------------*/

/*Top Banner section*/
.title-left h1{
    font-size: 35px;
    font-weight: 700;
    color: #364167;
        line-height: 50px;
    text-transform: capitalize;
}
  
#banner-top{
    background: rgba(255,255,255,0);
    background-repeat: no-repeat;
    background-position: center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    object-fit: cover;
}

.main-h {
    font-size: 45px;
    line-height: 1.3;
    color: #fff;
    text-align: left;
    font-weight: 400;
    margin-top: -10px;
    margin-bottom: 60px;
    text-transform: uppercase;
    -webkit-animation-delay: 150ms;
    animation-delay: 150ms;
    visibility: visible;
}


.banner-text{
   text-align: left;
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
    text-transform: capitalize;
    line-height: 40px;
}
#banner #banner-text h1,
#banner #banner-text h5{
  color:#00539f !important;
}
#gallery-page , #works-page{
  background-color: #fff !important;
}

#gallery-page li.active a {
  color: #fff !important;
}

#gallery-page li a {
  color: #000 !important;
}

#gallery-page .title h2, #works-page .title h2{
    font: 400 24px "Oswald", sans-serif;
    color: #013e6d !important;
    font-size: 45px;
    padding-top: 0px;
    font-weight: 700;
    position: relative;
}

#gallery-page .title h2:after {
    content: "";
    position: absolute;
    background: #013e6d !important;
    height: 5px;
    width: 100px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
}
#gallery-page .active{
  background-color: #013e6d;
  color: #fff;
}

#gallery-page .portfolio_inner_area .portfolio_filter ul li.active {
    list-style: none;
    display: inline-block;
    padding: 15px;
    text-align: center;
}

#gallery-page .portfolio_inner_area .portfolio_filter ul li {
    list-style: none;
    display: inline-block;
    padding: 15px;
    text-align: center;
    color: #fff;
}

#blog-page .blog_content{
  margin-bottom: 50px;
}

.blog-details-img img{
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.blog-details-img {
    margin-bottom: 40px;
    height: 400px;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*Drupal Css*/
.tabs a{
  color: #337ab7;
}
.viewsreference--view-title{
  display: none;
}
.comment-area a,
.username{
  text-transform: capitalize !important;
  font-weight: 500 !important;
  margin-top: 0px;
  margin-bottom: 20px;
  color: #000 !important;
}
.dialog-off-canvas-main-canvas a:not(.navbar-brand){
    font: 700 18px Roboto,sans-serif;
    text-transform: uppercase;
}
.portfolio_filter a:focus,
.portfolio_filter a:hover{
  color: #fff;
}
.modal-backdrop{
  z-index: 448 !important;
}

.modal{
  z-index: 449 !important
}
a.font_14_roboto:focus,
a.font_14_roboto:hover{
  color: #fff;
}
.indented{
    margin-left: 30px;
}
.node__meta{
  display: none;
}
.block-system-main-block .label{
  color: #000;
}
.field--name-user-picture
{
  
  padding: 30px 10px;
}

.error{
    float: unset;
    margin: auto;
    text-align: center;
    border: 1px solid #00539f;
}
.error h1{
  text-align: center;
}
.error.box-s{
  padding: 50px 40px;
  width: 50%;
}

/*User Login Start*/
#user-login {
   margin: auto;
   margin-bottom: 40px;
   margin-top: 20px;
   overflow: hidden;
}
.login-text .form-group input {
   width: 100%;
   padding: 10px;
   border-radius: 5px;
}
.login-text a {
   color: #00539f;
}
.login-button input {
   padding: 5px 20px 5px 20px;
   background: #00539f;
   border: 1px solid #00539f;
   color: #fff;
   font-size: 20px;
   border-radius: 10px;
   font-weight: 600;
}
.login-button input:hover {
   padding: 5px 20px 5px 20px;
   background: #fff;
   border: 1px solid #00539f;
   color: #00539f;
   font-size: 20px;
   border-radius: 10px;
   font-weight: 600;
}
.login-button , #user-register-form .form-actions ,#user-pass .form-actions{
   text-align: center;
}

#user-register-form , #user-pass{
   max-width: 50%;
   margin: auto;
   margin-top: 40px;
   margin-bottom: 40px;
   border: 2px solid #00539f;
   padding: 20px 20px 40px;
   overflow: hidden;
}

#user-register-form .js-form-item {
   margin-bottom: 20px !important;
}

#user-register-form .js-form-item input, #user-pass .js-form-item input {
   width: 100%;
   padding: 10px;
   border-radius: 5px;
}

#user-register-form .form-actions input , #user-pass .form-actions input {
   padding: 5px 20px 5px 20px;
   background: #00539f;
   border: 1px solid #00539f;
   color: #fff;
   font-size: 20px;
   border-radius: 10px;
   font-weight: 600;
}
#user-register-form .form-actions input:hover , #user-pass .form-actions input:hover {
   padding: 5px 20px 5px 20px;
   background: #fff;
   border: 1px solid #00539f;
   color: #00539f;
   font-size: 20px;
   border-radius: 10px;
   font-weight: 600;
}
@media only screen and (max-width: 610px) {
  #user-login {
     margin: auto;
     margin-bottom: 40px;
     margin-top: 20px;
     overflow: hidden;
  }

  #user-register-form , #user-pass{
     max-width: 95% !important;
     margin: auto;
     margin-top: 40px;
     margin-bottom: 40px;
     border: 2px solid #00539f;
     padding: 20px 20px 40px;
     overflow: hidden;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #user-login {
     margin: auto;
     margin-bottom: 40px;
     margin-top: 20px;
     overflow: hidden;
  }
  #user-register-form , #user-pass{
     max-width: 95% !important;
     margin: auto;
     margin-top: 40px;
     margin-bottom: 40px;
     border: 2px solid #00539f;
     padding: 20px 20px 40px;
     overflow: hidden;
  }
}

/*user login End*/
.comment-form a,
.comment-comment-delete-form a{
  color: #000;
}
.path-comment .comment-form,
.compose-tips,
.comment-comment-delete-form{
  width: 80%;
  padding: 30px;
  margin: auto;
}
.path-comment .comment{
  list-style: none;
}
.path-comment .comment .comment-wrap{
  width: 80%;
  margin: auto;
  margin-top: 30px;
}
.single_facilities{
    padding: 0;
    display: table;
    top: unset !important;
    position: initial !important;
}
.portfolio_item{
  height: auto !important;
}
.about_client img{
  width: 100%;
  height: inherit;
}
.tr{
  padding-top: 20px;
}

.webform-submission-contact-form{
  text-align: center !important;
}
form-group.button-n{
  padding: 0px;
}
input[type="submit"].button-n{
    margin: 0px;
    background-color: transparent;
    padding: 18px 50px;
    color: #fff;
    width: fit-content;
}
@media screen and (max-width: 991px){
  .book_bottun{
    margin-top: 20px;
  }  
}

@media screen and (max-width: 767px) and (min-width: 493px){
  .gallery_iner{
    width: 50% !important;
    display: table;
  }
  .single_facilities{
    width: 50%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px){
  .modal-content{
    width: 90%;
    margin: auto;
  }
}

@media screen and (min-width: 768px){
  .about_client{
    padding-right: 0px;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
  }
}
@media screen and (max-width: 767px){
  .about_client{
    padding: 0px;
  }
  .user-logged-in .header_aera.affix .navbar-header .navbar-brand {
    padding-top: 30px !important;
  }
   nav .container{
    padding: 0px;
  }
}
@media (max-width: 991px) {
  .error.box-s{
    padding: 50px 30px;
    width: 65%;
  }
}
@media (max-width: 767px) {
  .error.box-s{
    padding: 50px 20px;
    width: 80%;
  }
}

.top_Contact li a:hover{
  color: #fff;
}