 
{% set createdDate = node.getCreatedTime|date('F d,Y') %}
{% set createdTime = node.getCreatedTime|date('h:m') %}
       
  
   <li class="comment even thread-even depth-1">
          <div class="comment-wrap">
             <div class="comment-theme">
                <div class="comment-image">
                   {{user_picture}}
                </div>
             </div>
             <div class="comment-main-area">
                <div class="comment-wrapper">
                   <div class="sewl-comments-meta">
                      <h4>{{ author }} 
                        <span class="comments-date">
                          says {{createdDate}} at {{createdTime}}
                        </span>
                      </h4>
                   </div>
                   <div class="comment-area">
                      {{content}}
                   </div>
                </div>
             </div>
          </div>
          
       </li>
     