{#
/**
 * @file
 * Default theme override for comment fields.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional title output populated by modules, intended to
 *   be displayed after the main title tag that appears in the template.
 * - comments: List of comments rendered through comment.html.twig.
 * - content_attributes: HTML attributes for the form title.
 * - comment_form: The 'Add new comment' form.
 * - comment_display_mode: Is the comments are threaded.
 * - comment_type: The comment type bundle ID for the comment field.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 * @see comment_preprocess_field()
 */
#}
<div class="comment-main wow fadeInUp" style="visibility: hidden; animation-name: none;">
    <h3 class="blog-title ">Comment</h3>
    <ol class="comments">
		{{ comments }}	      
  	</ol>
</div>

{% if comment_form %}
 <div id="respond" class="sewl-comment-form comment-respond wow fadeInUp" style="visibility: hidden; animation-name: none;">
    <h3 id="reply-title" class="blog-title">Post Comments</h3>
        {{ comment_form }}
 </div>
{% endif %}



