  {{content.field_blog_banner}}
  <!--/#blog simple Professional Builde start -->
  <section class="blog-details-area  wow fadeInUp ptb-140" style="visibility: visible; animation-name: fadeInUp;">
         <div class="container">
            <div class="row">
               <div class="col-md-10 col-md-offset-1 col-xs-12">
                  <div class="blog-details-wrap">
                     <div class="blog-details-img">
                        {{content.field_blog_image}}
                     </div>
                     <div class="blog-details-content wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                        <h3>{{ node.title.value }}</h3>
                        {{ content.body }}
                    </div>
                    {{ content.field_comments }}
                </div>
            </div>
        </div>
    </div>
</section>