{ # Header Section Start #}
<div class="top_bar">
   <div class="container">
      <div class="row">
         <div class="col-md-6 pl_0  col-sm-6 col-xs-6  ">
          <div class="top_menu-logo">
            <ul class="top_Contact ">
           <li>{{currently_serve_in_title}}:{{currently_serve_in_area}}</li>
            </ul>
          </div>
         </div>
         <div class="col-md-6  col-sm-6 col-xs-6  text-right">
             <div class="top_menu-logo pull-right">
               <ul class="top_Contact ">
                  <li><i class="fa fa-phone"></i><a href="tel:{{phone_no}}">{{phone_no}}</a></li>
                  <li><i class="fa fa-envelope"></i><a href="mailto:{{company_email}}">{{company_email}}</a></li>
               </ul>
            </div>           
         </div>
      </div>
   </div>
</div>

{# Nav Bar Section Start #}
  <nav class="navbar navbar-default header_aera affix-top" id="main_navbar">
         <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="col-md-4 p0">
               <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#min_navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>
                  {{page.logo}}
               </div>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="col-md-8 p0">
              {{page.primary_menu}}
            </div>
         </div>
         <!-- /.container -->
  </nav>
{# Header Section Start #}

 <section {{ content_attributes.addClass(content_classes) }}>

        {# Content #}
        {% block content %}
          <a id="main-content"></a>
          {{ page.content }}
        {% endblock %}
</section>

{# Book Now Section Start #}
<div class="our_partners_area pt-90">
   <div class="book_now_aera">
      <div class="container">
         <div class="row book_now">
            <div class="col-lg-10 col-md-9 booking_text">
               <h4 class="c-f p0">{{book_now_title}}</h4>
               <p class="c-f">{{book_now_content}}</p>
            </div>
            <div class="col-md-2 p0 book_bottun">
               <a href="{{book_now_link}}" class="button_all">book now</a>
            </div>
         </div>
      </div>
   </div>
</div>
{# Book Now Section End #}

 <!--#bottom Footer start -->
<div class="copyright_area footer_area py-30">
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <p class="c-f">Copyright 2018 All rights reserved. 
               <br>
               YG Plumbing Design By<a href="https://www.navthemes.com/" class="font_14_roboto" target="_blank"> Nav Themes.</a> <br>
               Theme By <a href="https://www.drupaldeveloperstudio.com" target="_blank" class="font_14_roboto">Drupal Developers Studio</a>. A Division of <a href="https://www.youngglobes.com" target="_blank" class="font_14_roboto">Young Globes.</a>
            </p>
         </div>
         <div class="col-md-6" style="text-align: right;">
            <ul class="social-network social-circle">
               <li><a href="{{facebook}}" class="icoFacebook" title="Facebook" target="_blank" ><i class="fa fa-facebook"></i></a></li>
               <li><a href="{{twitter}}" class="icoTwitter" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
               <li><a href="{{googleplus}}" class="icoGoogle" title="Google +" target="_blank"><i class="fa fa-google-plus"></i></a></li>
               <li><a href="{{linkedin}}" class="icoLinkedin" title="Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            </ul>
         </div>
      </div>
   </div>
</div>
<!-- End bottom Footer Area -->