{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{# Header Section Start #}
<div class="top_bar">
   <div class="container">
      <div class="row">
         <div class="col-md-6 pl_0  col-sm-6 col-xs-6  ">
          <div class="top_menu-logo">
            <ul class="top_Contact ">
           <li>{{currently_serve_in_title}}:{{currently_serve_in_area}}</li>
            </ul>
          </div>
         </div>
         <div class="col-md-6  col-sm-6 col-xs-6  text-right">
             <div class="top_menu-logo pull-right">
               <ul class="top_Contact ">
                  <li><i class="fa fa-phone"></i><a href="tel:{{phone_no}}">{{phone_no}}</a></li>
                  <li><i class="fa fa-envelope"></i><a href="mailto:{{company_email}}">{{company_email}}</a></li>
               </ul>
            </div>           
         </div>
      </div>
   </div>
</div>

{# Nav Bar Section Start #}
  <nav class="navbar navbar-default header_aera affix-top" id="main_navbar">
         <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="col-md-4 p0">
               <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#min_navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>
                  {{page.logo}}
               </div>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="col-md-8 p0">
              {{page.primary_menu}}
            </div>
         </div>
         <!-- /.container -->
  </nav>
{# Header Section Start #}

{# Main #}
<section id="banner" class="">
   <div class="container ">
      <div class="row">
         <!-- #banner-text start -->            
         <div id="banner-text" class="col-md-5 error box-s">
            <h1 class="wow fadeInUp main-h" data-wow-delay="0.2s" >
              404 - Page Not Found 
            </h1>
            <h3 class="wow fadeInUp main-h2" data-wow-delay="0.5s" >
               Sorry. We can't find a page.
            </h3>
            <p class="wow fadeInUp main-h3" data-wow-delay="0.8s">
              The Page you are looking for might have a removed, had its name changed, or its temporarily unavailable.
            </p>
            <div class="top-banner wow fadeInRight">
               <a id="services.html"  
                  href="{{front_page}}" 
                  class="button-n wow fadeInUp  js-scroll-trigger" 
                  data-wow-delay="1s">
                  Go Home
               </a>
            </div>
         </div>
         <!-- /#banner-text End -->
      </div>
   </div>
</section>
{# MAIN #}

{# Book Now Section Start #}
<div class="our_partners_area pt-90">
   <div class="book_now_aera">
      <div class="container">
         <div class="row book_now">
            <div class="col-lg-10 col-md-9 booking_text">
               <h4 class="c-f p0">{{book_now_title}}</h4>
               <p class="c-f">{{book_now_content}}</p>
            </div>
            <div class="col-md-2 p0 book_bottun">
               <a href="{{book_now_link}}" class="button_all">book now</a>
            </div>
         </div>
      </div>
   </div>
</div>
{# Book Now Section End #}

 <!--#bottom Footer start -->
<div class="copyright_area footer_area py-30">
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <p class="c-f">Copyright 2018 All rights reserved. 
               <br>
               YG Plumbing Design By<a href="https://www.navthemes.com/" class="font_14_roboto" target="_blank"> Nav Themes.</a> <br>
               Theme By <a href="https://www.drupaldeveloperstudio.com" target="_blank" class="font_14_roboto">Drupal Developers Studio</a>. A Division of <a href="https://www.youngglobes.com" target="_blank" class="font_14_roboto">Young Globes.</a>
            </p>
         </div>
         <div class="col-md-6" style="text-align: right;">
            <ul class="social-network social-circle">
               <li><a href="{{facebook}}" class="icoFacebook" title="Facebook" target="_blank" ><i class="fa fa-facebook"></i></a></li>
               <li><a href="{{twitter}}" class="icoTwitter" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
               <li><a href="{{googleplus}}" class="icoGoogle" title="Google +" target="_blank"><i class="fa fa-google-plus"></i></a></li>
               <li><a href="{{linkedin}}" class="icoLinkedin" title="Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            </ul>
         </div>
      </div>
   </div>
</div>
<!-- End bottom Footer Area -->